section.header {
	max-width: $full-width;
	margin: 0 auto;
	padding: 0 32px;

	h1 { margin-bottom: 0; }
}

body.archive main,
body.category main,
body.search main,
body.home main {
    max-width: $full-width;
	width: 100%;
    margin: 0 auto;
    padding: 0 32px;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body.archive article,
body.category article,
body.search article,
body.home article {

    max-width: 360px;
    width: 100%;
    margin: 32px 0 32px 0;

    .featured-image {
        margin: 4px auto 0 auto;
        height: 184px;
        overflow-y: hidden;
    }

    h2.title {
        font-size: 1.6rem;
        margin: 8px 0 8px 0;
        padding: 0;
    }

    .meta {
        margin: 0 0 8px 0;
        padding: 0;
    }

    p {
        margin: 16px 0 0 0;
        padding: 0;
        font-size: 1.0rem;
    }
}

h4 {
	margin: -8px 0 0 0;
	a, a:visited {
		color: #AAAAAA;
		font-size: 1.2rem;
	}
}

section.feature article {
	margin-top: 0;
}

@media only screen and ( max-width: 1280px ) {

    body.home article {
        max-width: 480px;
    }

	body.home article:first-of-type {
		margin-top: 54px;
	}
}

@media only screen and ( max-width: 520px ) {
    body.home article {
        margin: 32px 0 32px 0;
    }

    div.main-feature {
        margin: 0;
    }

	body.home article:first-of-type {
		margin-top: 32px;
	}

}


